* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  background-color: red;
  width: 400px;
  height: 400px;
  margin: auto;
  color: white;
  font-weight: bold;
  font-size: clamp(12px, 3vw, 4rem);
}

.box img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

img:hover {
  filter: grayscale(100%);
}

h1 {
  -moz-transform: scale(0.8) translate(-4px, -35px) skew(-3deg, -8deg);
  -webkit-transform: scale(0.8) translate(-4px, -35px) skew(-3deg, -8deg);
  -o-transform: scale(0.8) translate(-4px, -35px) skew(-3deg, -8deg);
  -ms-transform: scale(0.8) translate(-4px, -35px) skew(-3deg, -8deg);
  transform: scale(0.8) translate(-4px, -35px) skew(-3deg, -8deg);
}
