* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #000000de;
}

/* header start */

.header {
  display: flex;
  justify-content: space-between;
  height: 12vh;
  padding: 0 12vw;
  align-items: center;
  font-size: 18px;
}

.header img {
  width: 150px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 52px;
}

.header-left div {
  display: flex;
  gap: 36px;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 36px;
}

.start-free {
  background-color: #146eb4;
  color: white;
  padding: 14px 20px;
  border-radius: 4px;
}

.header a:hover {
  text-decoration: underline;
}

/* header end */

/* hero section start */

.hero-section {
  display: flex;
  justify-content: space-between;
  padding-left: 12vw;
  align-items: center;
  background-image: url("https://mydukaan.io/_next/static/media/banner-home-main.ebd707dd321420dd97b2e08e0aa39020.webp");
  /* overflow: hidden; */
}

.hero-right img {
  width: 46vw;
  /* translate: 150px; */
}

.main-text {
  font-weight: 900;
  font-size: 50px;
  padding-bottom: 40px;
}

.sub-text {
  color: #4d4d4d;
  font-size: 20px;
  padding-bottom: 40px;
}

.get-started {
  background-color: #146eb4;
  color: white;
  padding: 18px 28px;
  border-radius: 4px;
  /* margin-bottom: 40px; */
}

.available-on {
  color: #4d4d4d;
  font-size: 14px;
  padding-top: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
}

/* hero section end */


/* marquee */



.marquee-container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 20px 0;
  background-color: #1a181e;
}

.marquee-track {
  display: flex;
  gap: 40px;
  width: fit-content;
}

.marquee-left {
  animation: marquee-left 20s linear infinite;
}

.scroll-card {
  /* background: #fff; */
  margin-right: 30px;
  width: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scroll-card img {
  width: 80%;
  border-radius: 8px;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Pause on hover */
.marquee-container:hover .marquee-left,
.marquee-container:hover .marquee-right {
  animation-play-state: paused;
}


/* marquee end */